 * {
	margin:0px;
 }
 body { 
	padding-top: 90px;
	 padding-right: 670px;
	font-family: 'Mali', cursive;
	background:url(../img/0p.jpg);
	background-repeat:no-repeat;
	background-size:cover;
 }



.container {
	 width:400px; 
	 margin:17% ;
}

.login-section  {
	
	padding:20px;
}
	
	
	.login-section img{
width:150px;
height:150px;
margin:0 auto;
display:block;
	
}

	
	.login-section h3{
	color:black;
	text-align: center;
	margin:20px 0px;
	font-size:29px'
	
}

.font-control {
	width:90%;
	padding:10px 15px;
	margin-bottom:12px
}


.btn{
	background:black;
	color:#fff;
	padding: 10px 20px;
	margin:0 auto;
	display:block;
	border: none;
	text-transform: uppercase;
	font-size:15px;
	transition:0.8s ease;
}

		.btn:hover{
	cursor: pointer;
	box-shadow: 2px 3px 4px  white;
	
}

	


.login-section{
	text-decoration:none;
	font-size:12px;
	color:#fff;
}	
	
	

